<form action="/api/sessions/login" method="POST">
    <label for="email"> E-mail: </label>
    <input type="email" required name="email">


    <label for="password"> Contraseña: </label>
    <input type="text" name="password" required>


    <button type="submit"> Iniciar Sesión </button>

</form>
